nav{
 display:flex;
 background-color: brown;
 justify-content: space-between;
 padding: 10px 100px;
 color:white;
 align-items:center;
 position: sticky;
 top: 0;
}
.logo{
    display:flex;
    justify-content: space-around;
    gap:15px
}
.left{
   display: flex;
   gap:15px

}
.right{
    display: flex;
}
.container1{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap:35px;
}
.pizzaLogo img{
    border-radius: 50px;
    width: 50px;
}
a{
    text-decoration: none;
    color:white;
  transition: 0.2s;
}
a:hover{
     color: yellow;
     transform: scale(1.1);
     
}
.cart button{
padding: 5px 10px;
border-radius: 5px ;
background-color:rgb(232, 166, 0);
color: white;


border: none;
}
.selectedroute{
    color:yellow;
    
}
footer {
    background-color:  #1f2933;
    color: white;
    text-align: center;
    padding: 15px 0;
    font-size: 14px;

    width: 100%;

    height: 40px;
}
html{
    height: 100;
}