<div class="  wrapper">
  <div class="story">
    <h2>Our Story</h2>
    <p>We believe in good. We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given
      situations where they had to come up with wacky and fun excuses. The person with the best excuse won the Best
      Excuse Badge and won Pizzeria's vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is
      the Tastiest Pan Pizza. Ever!</p>

    <p> Ever since we launched the Tastiest Pan Pizza, ever, people have not been able to resist the softest, cheesiest,
      crunchiest, butteriest Domino's Fresh Pan Pizza. They have been leaving the stage in the middle of a performance
      and even finding excuses to be disqualified in a football match.</p>

    <p>We launched Fresh Pan Pizza Best Excuse Awards on our Facebook fan page. Fans were given situations where they
      had to come up with wacky and fun excuses. The person with the best excuse won the Best Excuse Badge and won
      Domino's
      vouchers. Their enthusiastic response proved that Pizzeria's Fresh Pan Pizza is the Tastiest Pan Pizza. Ever!
    </p>
  </div>
  <div class="ingredients">
    <div class="ileft">
      <img
        src="https://www.shutterstock.com/shutterstock/photos/2358276259/display_1500/stock-photo-tasty-pizza-with-burrata-cheese-and-ingredients-on-white-background-2358276259.jpg"
        alt="ingridients image">
    </div>
    <div class="iright">
      <h3>Ingredients</h3>
      <p>We're ruthless about goodness. We have no qualms about tearing up a day-old lettuce leaf (straight from the
        farm), or steaming a baby (carrot). Cut. Cut. Chop. Chop. Steam. Steam. Stir Stir. While they're still young and
        fresh - that's our motto. It makes the kitchen a better place.
      </p>
    </div>

  </div>
  <div class="chef">
    <div class="lchef">
      <h3>Our Chef</h3>
      <p>They make sauces sing and salads dance. They create magic with skill, knowledge, passion, and stirring spoons
        (among other things). They make goodness so good, it doesn't know what to do with itself. We do though. We send
        it to you.</p>
    </div>
    <div class="rchef">
      <img src="https://image.shutterstock.com/image-photo/happy-chef-600w-437116033.jpg" alt="chef image">
    </div>
  </div>
  <div class="timer">
    <div class="tleft">
      <img src="https://image.shutterstock.com/image-photo/vintage-analog-kitchen-countdown-timer-260nw-669255388.jpg
 " alt="countdown image">
    </div>
    <div class="tright">
      <h2>45 Minutes Delivery</h2>
    </div>
  </div>
</div>