.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;

}

p {
    text-align: left;
}

.my-card {
    display: flex;
    gap: 30px;

    padding: 10px;
    margin: 20px;
    box-shadow: 0 4px 10px rgb(0, 0, 0, 0.1);
    border-radius: 8px;

}

.img {
    display: flex;

    height: 200px;
    width: 200px;
    padding: 20px;

}

img {
    object-fit: cover;
    width: 100%;
}

.one {
    font-weight: bold;
    margin-bottom: 10px;
}

.three {

    text-align: center;
}

.veg-icon {
    width: 22px;
    height: 22px;
    border: 2px solid green;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.veg-icon span {
    width: 12px;
    height: 12px;
    background: green;
    border-radius: 50%;
}

.nonveg-icon {
    width: 22px;
    height: 22px;
    border: 2px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 18px;
}

.nonveg-icon span {
    width: 12px;
    height: 12px;
    background: red;
    border-radius: 50%;
}

button {


    padding: 2px 10px;
    border: none;
    border-radius: 4px;

}

.remove-btn {
    background: rgb(195, 64, 64);
    color: white;

}

.add-btn {
    background-color: rgba(255, 136, 0, 0.845);
    color: white;
}